<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>RAStyle Carrito De Compras</title>
    <link rel="stylesheet" href="/css/carritoStyles.css">
</head>
<body>
    <!--Header-->
    <%- include('./partials/header') %>

    <!--Carrito de Compras-->
    <main>
        <div class="contenedor_main">
            <div class="nav">
                <a href="#" class="Home">
                    <i class="fas fa-home"></i>
                </a>
                <a href="#" class="Flecha">
                    <i class="fas fa-chevron-right">Mi carrito de compras</i>
                </a>
            </div>
            <h1>MI CARRITO DE COMPRAS</h1>
            <div class="contenedor_carrito_completo">
                <div class="contenedor_carrito">
                    <% let totalPagar = 0; %>
                    <% for(let i=0; i<productos.length; i++) { %>
                        <div class="contenedor1">
                            <div class="contenedor_img">
                                <img src="<%= productos[i].photos[0] %>">
                            </div>
                            <div class="contenedor_descripcion">
                                <div class="texto">
                                    <a href=<%="/products/"+productos[i].id%>><p><%= productos[i].nombre %></p></a>
                                </div>
                                <% if (productos[i].enOferta == true) { %>
                                    <div class="precio">
                                        <p>MXN $<%= productos[i].precio %></p>
                                    </div>
                                    <div class="desc">
                                        <p>MXN $<%= productos[i].precioOferta %></p>
                                    </div>
                                    <% totalPagar = totalPagar + productos[i].precioOferta; %>
                                <% } else { %>
                                    <div class="desc">
                                        <p>MXN $<%= productos[i].precio %></p>
                                    </div>
                                    <% totalPagar = totalPagar + productos[i].precio; %>
                                <% } %>
                                <div class="contenedor_detalles">
                                    <div class="color" >
                                        <p>Color <div class="circulo_color" style=<%="background-color:"+productos[i].color%>></div>    </p>
                                    </div>
                                    <div class="talla">
                                        <p>Talla <%= productos[i].talla[0] %></p>
                                    </div>
                                    <div class="contenedor_cantidad">
                                        <p>Cantidad 
                                            <button> <span class="material-icons">remove</span> </button>
                                            <input type="number" value="1" min="1" step="1" name="cantidad" id="">
                                            <button><span class="material-icons">add</span></button>
                                        </p> 
                                    </div>
                                </div>
                            </div>
                            <div class="contenedor_cancelar">
                                <a href="#"><i class="fas fa-window-close"></i></a>
                            </div>
                        </div>
                    <% } %>
                </div>

                <div class="contenedor2">
                    <div class="subcontenedor2">
                        <div class="resumen"><h2>RESUMEN DEL PEDIDO</h2></div>
                        <div class="articulos"><h4><%=productos.length%> ARTÍCULOS EN MI BOLSA </h4></div>
                        <div class="total"><h2>TOTAL A PAGAR</h2></div>
                        <div class="pesos"><h3>MXN $<%=totalPagar%></h3></div>
                    </div>
                    <div class="subcontenedor3">
                        <div class="proceder"><button>PROCEDER A PAGAR</button></div>
                        <div class="seguir"><button>SEGUIR COMPRANDO</button></div>
                    </div> 
                </div>
            </div>
        </div>
            

    </main>

    <!--Footer-->
    <%- include('./partials/footer') %>

</body>
</html>