<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>RAStyle Login</title>
    <link rel="stylesheet" href="/css/loginStyles.css">
</head>
<body> 
<!--Header-->
<%- include('./partials/header') %>

<main>
    <!--Formulario-->
        <div class="contenedor">
        <form action="/users/login" method="POST" class="create-form-login">
            <div class="login-container">
                <div class="login-info">
                  <h1 class="title">Inicia Sesión</h1>
                  <div class="login-red-social">
                      <button class="login-goo-fa">
                          <img src="/images/google-.svg"><p>Inicia Sesión con Google</p></button></img>
                      </button>
                      <button class="login-goo-fa">
                        <img src="/images/facebook.png"><p>Inicia Sesión con Facebook</p></button></img>
                        <hr><div class="contenedor-o"><span class="material-icons-outlined">
                            radio_button_unchecked
                            </span></div></hr>
                  </div>
                  </div>

                  <form action="/users/login" method="POST">
                    <div class="contenedor_email">
                        <label for="correo">Correo electronico</label>
                        <input type="email" name="correo" id="correo" value="<%= locals.usuario && usuario.correo ? usuario.correo : null%>">
                        <% if (locals.errors && errors.correo) { %>
                            <p class="feedback" for="correo"><%= errors.correo.msg %></p>
                        <% } %>
                        <div id="erroresCorreo" class="feedback">
                            <ul>

                            </ul>
                        </div>
                    </div>
                    <div class="contenedor_password">
                        <label for="password">Contraseña</label>
                        <input type="password" name="password" id="password">
                        <% if (locals.errors && errors.password) { %>
                            <p class="feedback" for="password"><%= errors.password.msg %></p>
                        <% } %>
                        <div id="erroresPassword" class="feedback">
                            <ul>

                            </ul>
                        </div>
                    </div>
                    <div class="contenedor_button">
                        <button type="submit">Iniciar Sesión</button>
                        <br>
                            <label for="">Recordarme</label>
                            <input type="checkbox" name="recordarme">
                        <br>
                        <p><a href="">¿Olvidaste tu contraseña?</a></p>
                        <p>¿Eres nuevo en RAStyle? <a href="/users/register">Registrate</a> </p>
                    </div>
                </form>
            </div>
        </main>

    <!-- Footer -->
    <%- include('./partials/footer') %>
    <script src="/js/loginFrontValidation.js"></script>
</body>
</html>