<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <link href="/css/editarProductosStyles.css" rel="stylesheet" type="text/css">
    <title>Detalles de producto</title>
</head>
<body>
    <!-- Header -->
    <%- include('./partials/header') %>

    <!-- Body -->
    <main>
        <div class="contenedor_main">
            <div class="ruta">
                <span class="material-icons-outlined">home</span>
                <span class="material-icons-outlined">navigate_next</span>
                Colecciones
                <span class="material-icons-outlined">navigate_next</span>
                Products
                <span class="material-icons-outlined">navigate_next</span>
                Nuevo
            </div>
            <div >
                <form class="contenedor_edicion" enctype="multipart/form-data" 
                    action="/products" method="POST">
                    <div class="contenedor_inputs">
                        <div class="titulo">
                            <h1>Nuevo Producto</h1>
                        </div>
                        <div>
                            <div class="info_basica">
                                <%- include('./partials/formDatosBasicos') %>
                            </div>
                            <div class="tallas_colores">
                                <h1>Tallas y colores</h1>
                                <div class="seccion_tc">
                                    <%- include('./partials/formDatosTC') %>
                                </div>
                                <div class="seccion_inventario">
                                    <%- include('./partials/formDatosInventario') %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="linea_division"></div>
                    <div class="contenedor_lateral">
                        <div class="contenedor_images">
                            <p>Agregar imagenes</p>
                            <div class="contenedor_fotos">
                                <label for="photos" class="button_agregar_foto">
                                    <label >+ </label>
                                    <p> Agregar nueva foto</p>
                                    <input type="file" name="photos" id="photos" 
                                    accept="image/png, image/jpeg, image/jpg" multiple/>
                                </label>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                        <div class="contenedor_botones">
                            <button type="submit" id="guardar">GUARDAR</button>
                            <div>
                                <button id="publicar">PUBLICAR</button>
                                <button id="pausa">PAUSAR</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <!-- Footer -->
    <%- include('./partials/footer') %>
</body>
</html>