<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <link href="/css/userPerfilDomicilioStyles.css" rel="stylesheet" type="text/css">
    <title>Perfil</title>
</head>
<body>
    <!-- Header -->
    <%- include('./partials/header') %>

    <!-- Body -->
    <main>
        <div class="contenedor_main">
            <div class="ruta">
                <span class="material-icons-outlined">home</span>
                <span class="material-icons-outlined">navigate_next</span>
                Perfil
                <span class="material-icons-outlined">navigate_next</span>
                Información
                <span class="material-icons-outlined">navigate_next</span>
                Domicilio
            </div>
            <div id="div-info">
                <div id="enlaces">
                    <h1>Información</h1>
                    <a href="/users/info">Datos generales</a>
                    <a href="/users/info/domicilio">Dirección</a>
                    <a href="#">Compras</a>
                </div>
                <div id="div-formulario">
                    <h1>Datos de domicilio</h1>
                    <form method="POST" action="/users/domicilio/<%= usuario.id %>?_method=PUT" enctype="multipart/form-data">
                        <div id="contenedor_inputs">
                            <div id="input-calle">
                                <label for="calle">Calle *</label>
                                <input type="text" name="calle" id="calle" value="<%=usuario.calle%>" required>
                                <% if (locals.errors && errors.calle) {%>
                                    <p class="feedback"><%=errors.calle.msg%></p>
                                <% } %>
                            </div>
                            <div class="div-input">
                                <label for="num_ext">Número exterior *</label>
                                <input type="text" name="num" id="num_ext" value="<%=usuario.num%>" required>
                                <% if (locals.errors && errors.num) {%>
                                    <p class="feedback"><%=errors.num.msg%></p>
                                <% } %>
                            </div>
                            <div class="div-input">
                                <label for="num_int">Número interior</label>
                                <input type="text" name="num_inter" id="num_int" value="<%=usuario.num_inter%>">
                                <% if (locals.errors && errors.num_inter) {%>
                                    <p class="feedback"><%=errors.num_inter.msg%></p>
                                <% } %>
                            </div>
                            <div class="div-input">
                                <label for="cp">Código Postal *</label>
                                <input type="text" name="cp" id="cp" value="<%=usuario.cp%>" required>
                                <% if (locals.errors && errors.cp) {%>
                                    <p class="feedback"><%=errors.cp.msg%></p>
                                <% } %>
                            </div>
                            <div class="div-input">
                                <label for="ciudad">Ciudad *</label>
                                <input type="text" name="ciudad" id="ciudad" value="<%=usuario.ciudad%>" required>
                                <% if (locals.errors && errors.ciudad) {%>
                                    <p class="feedback"><%=errors.ciudad.msg%></p>
                                <% } %>
                            </div>
                            <div class="div-input">
                                <label for="estado">Estado *</label>
                                <input type="text" name="estado" id="estado" value="<%=usuario.estado%>" required>
                                <% if (locals.errors && errors.estado) {%>
                                    <p class="feedback"><%=errors.estado.msg%></p>
                                <% } %>
                            </div>
                            <div class="div-input">
                                <label for="pais">País *</label>
                                <input type="text" name="pais" id="pais" value="<%=usuario.pais%>" required>
                                <% if (locals.errors && errors.pais) {%>
                                    <p class="feedback"><%=errors.pais.msg%></p>
                                <% } %>
                            </div>
                            <div id="input-referencias" >
                                <label for="referencia">Referencias </label>
                                <input type="text" name="ref" id="referencia" value="<%=usuario.ref%>">
                                <% if (locals.errors && errors.ref) {%>
                                    <p class="feedback"><%=errors.ref.msg%></p>
                                <% } %>
                            </div>
                        </div>
                        <div id="div-button">
                            <button type="submit">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <!-- Footer -->
    <%- include('./partials/footer') %>
</body>
</html>